.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDED;
    padding: 32px 42px;
}

.logo {
    height: 2.5rem;
    display: inline;
}

.navLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    font-size: 1rem;     /* text-md */
    font-weight: 500;    /* font-medium */

    border: 1px solid #ccc; /* border-input placeholder */
    background: white;      /* bg-background */
    border-radius: 6px;     /* rounded-md */
    height: 36px;           /* h-9 */
    padding: 0 12px;        /* px-3 */

    transition: background 0.2s ease;
}

.nav-link:hover {
    background: #f1f5f9;
}